<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }

      @font-face {
        font-family: "Avenir Heavy";
        src: url({{font}});
      }
      @font-face {
        font-family: "Avenir Black";
        src: url({{fontBlack}});
      }
      @font-face {
        font-family: "Avenir Book";
        src: url({{fontBook}});
      }
      @font-face {
        font-family: "Avenir Roman";
        src: url({{fontRoman}});
      }
      body {
        padding-top: 0 !important;
        font-family: "Avenir Heavy";
        transform: rotate(0deg);
      }
      
      #pageHeader {
        margin-top: 0 !important;
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;
      }
      #pageFooter {
        overflow: visible !important;
        transform: rotate(0deg);
      }

      .logo {
        float: left;
        position: relative;
        height: 50px;
      }

      .infoHeader {
        float: right;
        position: relative;
        text-align: right;
      }
      .qrCode {
        float: right;
        position: relative;
        bottom: 15;
      }
      .footerLogo {
        float: right;
        position: relative;
        margin-right: 80px;
        margin-top: 48px;
      }
      .footerDesc {
        float: left;
        position: relative;
        margin-left: 80px;
        margin-top: 50px;
        color: #707070;
      }
      .container {
        margin-left: 80px;
        margin-right: 80px;
      }
      .footerPro {
        background-color: brown;
        width: 100%;
        height: 100%;
      }
      .foot {
        background-color: #F7F7F7; 
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 180px;
      }
      table {
        width: 100%;
        border: 1px solid #6C6C6C;
        border-radius: 12px;
        border-spacing: 0px;
        margin-left: auto;
        margin-right: auto;
      }
      th {
        border-bottom: 1px solid #6C6C6C;
        
      }
      td {
        text-align: left !important;
      }
      .professionalData > * {
        margin-top: 0px;
        margin-bottom: 1px;
      }
      .font-black {
        font-family: "Avenir Black";
      }
      .font-heavy {
        font-family: "Avenir Heavy";
      }
      .font-roman {
        font-family: "Avenir Roman";
      }
      .font-book {
        font-family: "Avenir Book";
      }
    </style>
  </head>
  <body>
    <div id="pageHeader">
      <img src="{{logo}}" class="logo" />
      <div>
        <img src="{{qrCode}}" class="qrCode" alt="" width="150" height="150"/>
        <div class="infoHeader">
          <p class="font-heavy"><span class="font-black">FECHA DE EMISIÓN:</span><br>{{date}}</p>
          <p class="font-heavy"><span class="font-black">CIUDAD:</span> {{city}}</p>
        </div>
      </div>
      
    </div>
    <div id="pageFooter">
      <div style="text-align: center; margin-bottom: 45px;" class="professional Data">
        <p><span class="font-roman">Profesional:</span> {{professionalName}}</p>
        <p><span class="font-roman">{{specialty}}</span> / {{identification}}</p>
        <p><span class="font-roman">Dirección:</span> {{address}}</p>
        <p><span class="font-roman">Cel:</span> {{phone}} - <span class="font-roman">Email:</span> {{email}}</p>
        <div class="">
          <img src="{{sing}}" alt="" />
        </div>
        <div style="margin-bottom: 20px;">
          <img src="{{barCode}}" alt="" />
        </div>
        <p><strong>CÓDIGO DE VERIFICACIÓN: {{code}}</strong></p>
      </div>
      <div class="foot">
        <div class="footerDesc font-book">
          Este documento fue emitido digitalmente por DRUE. <br />
          Conforme a las normativas de Colombia
        </div>
        <div>
          <img src="{{logo}}" alt="" class="footerLogo" width="150"/>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 style="text-align: center; margin-bottom: 35px;">PRESCRIPCIÓN DE MEDICAMENTOS</h2>
      <table class="patient" style="width: 100%;">
        <thead>
          <tr>
            <th
              class="patient"
              colspan="2"
              style="padding-left: 30px; padding-top: 12px; padding-bottom: 11px; text-align: left"
            >
              Datos Paciente
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-roman" style="padding-left: 30px; width: 44%; font-size: 15px;">
              <p>Nombre paciente:</p>
              <p>Edad:</p>
              <p>Identificación:</p>
              <p>Sexo:</p>
              <p>Dirección:</p>
              <p>Teléfono:</p>
            </td>
            <td class="font-heavy" style="width: 56%;">
              <p>{{patientName}}</p>
              <p>{{age}} / {{birthdate}}</p>
              <p>{{patientIdentification}}</p>
              <p>{{sex}}</p>
              <p>{{patientAddress}}</p>
              <p>{{patientPhone}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <div class="list">{{list}}</div>
    </div>
    <img src="{{bg}}" alt="" srcset="" width="650" height="700" style="position: absolute; top: 330px; right: 620px; overflow:hidden;">
  </body>
</html>
